<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CloudConnectWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>DropboxLoginServlet</servlet-name>
    <url-pattern>/DropboxLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropboxLoginServlet</display-name>
    <servlet-name>DropboxLoginServlet</servlet-name>
    <servlet-class>com.CloudConnect.controller.DropboxLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkydriveLoginServlet</servlet-name>
    <url-pattern>/SkydriveLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SkydriveLoginServlet</display-name>
    <servlet-name>SkydriveLoginServlet</servlet-name>
    <servlet-class>com.CloudConnect.controller.SkydriveLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropboxMetaDataInsertServlet</servlet-name>
    <url-pattern>/DropboxMetaDataInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropboxMetaDataInsertServlet</display-name>
    <servlet-name>DropboxMetaDataInsertServlet</servlet-name>
    <servlet-class>com.CloudConnect.controller.DropboxMetaDataInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkydriveMetaDataInsertServlet</servlet-name>
    <url-pattern>/SkydriveMetaDataInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SkydriveMetaDataInsertServlet</display-name>
    <servlet-name>SkydriveMetaDataInsertServlet</servlet-name>
    <servlet-class>com.CloudConnect.controller.SkydriveMetaDataInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FolderClickServlet</servlet-name>
    <url-pattern>/FolderClickServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FolderClickServlet</display-name>
    <servlet-name>FolderClickServlet</servlet-name>
    <servlet-class>com.CloudConnect.controller.FolderClickServlet</servlet-class>
  </servlet>
  
 <servlet-mapping>
    <servlet-name>SkydriveFuntionServlet</servlet-name>
    <url-pattern>/SkydriveFuntionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SkydriveFuntionServlet</display-name>
    <servlet-name>SkydriveFuntionServlet</servlet-name>
    <servlet-class>com.CloudConnect.controller.SkydriveFuntionServlet</servlet-class>
  </servlet> 
  
</web-app>